<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="false"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="5"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <environments default="db1">
        <environment id="db1">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc1.driver}"/>
                <property name="url" value="${jdbc1.url}"/>
                <property name="username" value="${jdbc1.username}"/>
                <property name="password" value="${jdbc1.password}"/>
                <property name="defaultAutoCommit" value="false"/>
            </dataSource>
        </environment>
        <environment id="db2">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc2.driver}"/>
                <property name="url" value="${jdbc2.url}"/>
                <property name="username" value="${jdbc2.username}"/>
                <property name="password" value="${jdbc2.password}"/>
                <property name="defaultAutoCommit" value="false"/>
            </dataSource>
        </environment>
    </environments>
    <!-- Continue editing here -->

    <mappers>
        <mapper resource="mapper/TabUserMapper.xml"/>
    </mappers>
</configuration>